* { box-sizing: border-box; }
body, html, #root { height: 100%; margin: 0; font-family: system-ui, sans-serif;background-color: cornsilk; margin: 5px; }
div { padding: 5px; border: 1px solid black; border-radius: 2.5px; background-color: lightgray;}